package ${packagePath}.${moduleName}.controller;

import org.springframework.web.bind.annotation.RequestParam;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;
import io.swagger.annotations.Api;
import io.swagger.annotations.ApiOperation;
import com.baomidou.mybatisplus.core.conditions.query.QueryWrapper;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import com.baomidou.mybatisplus.core.metadata.IPage;
import ${packagePath}.${moduleName}.domain.${tableInfo.upperClassName};
import ${packagePath}.${moduleName}.service.${tableInfo.upperClassName}Service;
import java.util.HashMap;

#if(${usualFrameConfig.useShiro})
import org.apache.shiro.authz.annotation.RequiresPermissions;
#end

/**
 * @author ${author}
 * @since ${datetime}
 */
@RestController
@RequestMapping("${moduleName}")
#if(${usualFrameConfig.useSwagger})
@Api(description = "WEB端-$!{tableInfo.comments}")
#end
public class ${tableInfo.upperClassName}Controller {

    @Autowired
    private ${tableInfo.upperClassName}Service ${tableInfo.lowerClassName}Service;

    @GetMapping("/${tableInfo.pathName}")
#if(${usualFrameConfig.useShiro})
    @RequiresPermissions("${moduleName}:${tableInfo.pathName}:read")
#end
#if(${usualFrameConfig.useSwagger})
    @ApiOperation(value = "获取$!{tableInfo.comments}分页列表", response = ${tableInfo.upperClassName}.class)
#end
    public HashMap<String,Object> list(@RequestParam(defaultValue = "1") Long current,
                                              @RequestParam(defaultValue = "10") Long size,
                                              ${tableInfo.upperClassName} ${tableInfo.lowerClassName}) {
        return new HashMap<String,Object>(1<<3,1){{
            put("code",200);
            put("data",${tableInfo.lowerClassName}Service.page(new Page<>(current,size), new QueryWrapper<>(${tableInfo.lowerClassName})));
            put("msg","请求成功");
        }};
    }

    @GetMapping("/${tableInfo.pathName}")
#if(${usualFrameConfig.useShiro})
    @RequiresPermissions("${moduleName}:${tableInfo.pathName}:read")
#end
#if(${usualFrameConfig.useSwagger})
    @ApiOperation(value = "根据id获取$!{tableInfo.comments}信息详情", response = ${tableInfo.upperClassName}.class)
#end
    public HashMap<String,Object> info(@RequestParam ${tableInfo.pk.attrType} ${tableInfo.pk.lowerAttrName}) {
        return new HashMap<String,Object>(1<<3,1){{
            put("code",200);
            put("data",${tableInfo.lowerClassName}Service.getById(${tableInfo.pk.lowerAttrName}));
            put("msg","请求成功");
        }};
    }

    @PostMapping("/${tableInfo.pathName}")
#if(${usualFrameConfig.useShiro})
    @RequiresPermissions("${moduleName}:${tableInfo.pathName}:create")
#end
#if(${usualFrameConfig.useSwagger})
    @ApiOperation(value = "保存$!{tableInfo.comments}信息")
#end
    public HashMap<String,Object> save(@RequestBody ${tableInfo.upperClassName} ${tableInfo.lowerClassName}) {
        return new HashMap<String,Object>(1<<3,1){{
            put("code",200);
            put("data",${tableInfo.lowerClassName}Service.save(${tableInfo.lowerClassName}));
            put("msg","请求成功");
        }};
    }

    @PutMapping("/${tableInfo.pathName}")
#if(${usualFrameConfig.useShiro})
    @RequiresPermissions("${moduleName}:${tableInfo.pathName}:update")
#end
#if(${usualFrameConfig.useSwagger})
    @ApiOperation(value = "根据id修改$!{tableInfo.comments}信息")
#end
    public HashMap<String,Object> update(@RequestBody ${tableInfo.upperClassName} ${tableInfo.lowerClassName}) {
        return new HashMap<String,Object>(1<<3,1){{
            put("code",200);
            put("data",${tableInfo.lowerClassName}Service.updateById(${tableInfo.lowerClassName}));
            put("msg","请求成功");
        }};
    }

    @DeleteMapping("/${tableInfo.pathName}/{id}")
#if(${usualFrameConfig.useShiro})
    @RequiresPermissions("${moduleName}:${tableInfo.pathName}:delete")
#end
#if(${usualFrameConfig.useSwagger})
    @ApiOperation(value = "根据id删除$!{tableInfo.comments}信息")
#end
    public HashMap<String,Object> delete(@PathVariable("${tableInfo.pk.lowerAttrName}") ${tableInfo.pk.attrType} ${tableInfo.pk.lowerAttrName}) {
        return new HashMap<String,Object>(1<<3,1){{
            put("code",200);
            put("data",${tableInfo.lowerClassName}Service.removeById(${tableInfo.pk.lowerAttrName}));
            put("msg","请求成功");
        }};
    }

}
