package ${packagePath}.${moduleName}.controller;

import org.springframework.web.bind.annotation.RequestParam;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;
import io.swagger.annotations.Api;
import io.swagger.annotations.ApiOperation;
import com.baomidou.mybatisplus.core.conditions.query.QueryWrapper;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;

#if(${usualFrameConfig.useShiro})
import org.apache.shiro.authz.annotation.RequiresPermissions;
#end

/**
 * @author ${author}
 * @since ${datetime}
 */
@RestController
@RequestMapping("${moduleName}")
#if(${usualFrameConfig.useSwagger})
@Api(tags = "WEB端-$!{tableInfo.comments}")
#end
public class ${tableInfo.upperClassName}Controller {

}
