package ${package}import com.baomidou.mybatisplus.core.mapper.BaseMapper;

.${moduleName}.dao;
    ${package}
        .${moduleName}.entity.${className};

/**
 *
 * @author ${author}
 * @apiNote ${comments}dao
 * @since  ${datetime}
 */
public interface ${className}Dao extends BaseMapper<${className}> {

}
