package ${packagePath}.${moduleName}.dao;

import ${packagePath}.${moduleName}.domain.${tableInfo.upperClassName};
import com.baomidou.mybatisplus.core.mapper.BaseMapper;

/**
 *
 * @author ${author}
 * @apiNote ${tableInfo.comments}dao
 * @since  ${datetime}
 */
public interface ${tableInfo.upperClassName}Dao extends BaseMapper<${tableInfo.upperClassName}> {

}
