package ${package}.${moduleName}.entity;

import javax.validation.constraints.NotBlank;
import javax.validation.constraints.NotEmpty;

import com.baomidou.mybatisplus.annotation.IdType;
import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableName;
import ${mainPath}.common.base.DataEntity;

import java.util.Date;

import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;
#if(${hasBigDecimal})
import java.math.BigDecimal;
#end

/**
 * @author ${author}
 * @apiNote ${comments}实体类
 * @since ${datetime}
 */
@Data
@TableName("${tableName}")
@ApiModel("${comments}")
public class ${className} extends DataEntity{
private static final long serialVersionUID=1L;

#foreach ($column in $columns)
    #if($column.columnName != $pk.columnName
    && $column.columnName != 'creation_date'
    && $column.columnName != 'creation_by'
    && $column.columnName != 'modification_date'
    && $column.columnName != 'modification_by'
    && $column.columnName != 'del_flag'
    && $column.columnName != 'remakes'
    && $column.columnName != 'status')
    #if($column.isNullable == "NO")
    #if($column.attrType == "String")
    @NotBlank(message = "${column.comments}不能为空")
    #else
    @NotEmpty(message = "${column.comments}不能为空")
    #end
    #end
    @ApiModelProperty("${column.comments}")
    private ${column.attrType} ${column.attrname};

    #end
#end
}
