package ${packagePath}.${moduleName}.domain;

import com.baomidou.mybatisplus.annotation.IdType;
import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableField;
import com.baomidou.mybatisplus.annotation.TableName;
import java.util.Date;
#if(${hasBaseEntity})
import ${baseEntityPackage}
#else
import java.io.Serializable;
#end
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;
#if(${hasBigDecimal})
import java.math.BigDecimal;
#end
/**
 * @author ${author}
 * @apiNote $!{tableInfo.comments}实体类
 * @since ${datetime}
 */
@Data
@TableName("${tableInfo.tableName}")
@ApiModel("$!{tableInfo.comments}")
public class ${tableInfo.upperClassName}#if(${hasBaseEntity}) extends ${baseEntity} #else implements Serializable #end{

#foreach ($column in ${tableInfo.columns})
#set($generator = true)
#if(${hasBaseEntity})
#foreach($ignoreAttribute in ${ignoreAttributes})
#if($ignoreAttribute == ${column.lowerAttrName})
#set($generator = false)
#break
#end
#end
#end
#if($generator)
#if(${column.columnName} == ${tableInfo.pk.columnName})
    @TableId(type = IdType.ID_WORKER)
#else
    @TableField(value="${column.columnName}")
#end
#if(${useSwagger})
    @ApiModelProperty("$!{column.comments}")
#end
    private ${column.attrType} ${column.lowerAttrName};
#end
#end

}
