package ${packagePath}.${moduleName}.entity;

import javax.validation.constraints.NotBlank;
import javax.validation.constraints.NotEmpty;

import com.baomidou.mybatisplus.annotation.IdType;
import com.baomidou.mybatisplus.annotation.TableId;
import com.baomidou.mybatisplus.annotation.TableName;
import ${mainPath}.common.base.DataEntity;

import java.util.Date;

import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;
#if(${hasBigDecimal})
import java.math.BigDecimal;
#end
/**
 * @author ${author}
 * @apiNote ${tableInfo.comments}实体类
 * @since ${datetime}
 */
@Data
@TableName("${tableName}")
@ApiModel("${tableInfo.comments}")
public class ${tableInfo.upperClassName} extends BaseEntity{
private static final long serialVersionUID=1L;

#foreach ($column in ${tableInfo.columns})
    #if($column.isNullable == "NO")
    #if($column.attrType == "String")
    @NotBlank(message = "${column.comments}不能为空")
    #else
    @NotEmpty(message = "${column.comments}不能为空")
    #end
    #end
    @ApiModelProperty("${column.comments}")
    private ${column.attrType} ${column.lowerAttrName};
    #end
}
