package ${packagePath}.${moduleName}.service;

import org.springframework.stereotype.Service;
#if(${hasBaseService})
import ${baseServicePackage};
#else
import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
#end
import ${packagePath}.${moduleName}.dao.${tableInfo.upperClassName}Dao;
import ${packagePath}.${moduleName}.domain.${tableInfo.upperClassName};

/**
 * @author ${author}
 * @apiNote $!{tableInfo.comments}service实现
 * @since ${datetime}
 */
@Service("${tableInfo.lowerClassName}Service")
public class ${tableInfo.upperClassName}Service extends#if(${hasBaseService}) ${baseService} #else ServiceImpl #end<${tableInfo.upperClassName}Dao, ${tableInfo.upperClassName}> {

}
