package ${packagePath}.${moduleName}.service;

import org.springframework.stereotype.Service;
#if(${baseEntityConfig.exist})
import ${baseEntityConfig.packageRelativePath};
#else
import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
#end
import ${packagePath}.modules.${moduleName}.mapper.${tableInfo.upperClassName}Mapper;
import ${packagePath}.modules.${moduleName}.domain.${tableInfo.upperClassName};

/**
 * @author ${author}
 * @apiNote $!{tableInfo.comments}service实现
 * @since ${datetime}
 */
@Service
public class ${tableInfo.upperClassName}Service extends#if(${baseEntityConfig.exist}) ${baseEntityConfig.className}#else ServiceImpl#end<${tableInfo.upperClassName}Mapper, ${tableInfo.upperClassName}> {

}
