package ${packagePath}.${moduleName}.factory;

import ${packagePath}.${moduleName}.service.*;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Component;

/**
 * @author ${author}
 * @apiNote ${moduleName} service factory
 * @since ${datetime}
 */
@Component
public class ${className}ServiceFactory{
#foreach($table in ${tables})
    public static ${table.upperClassName}Service ${table.lowerClassName}Service;
#end

    @Autowired
    public ${className}ServiceFactory(#foreach($table in ${tables})${table.upperClassName}Service ${table.lowerClassName}Service#if($foreach.hasNext),
                              #end#end){
#foreach($table in ${tables})
        ${className}ServiceFactory.${table.lowerClassName}Service = ${table.lowerClassName}Service;
#end
    }

}
