<!DOCTYPE html>
<html>
<head>
    <title>代码生成器</title>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="plugins/jqgrid/ui.jqgrid-bootstrap.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <script src="libs/jquery.min.js"></script>
    <script src="plugins/layer/layer.js"></script>
    <script src="libs/bootstrap.min.js"></script>
    <script src="libs/vue.min.js"></script>
    <script src="plugins/jqgrid/grid.locale-cn.js"></script>
    <script src="plugins/jqgrid/jquery.jqGrid.min.js"></script>
    <script src="js/common.js"></script>
</head>
<body>
<div id="rrapp">
    <div class="grid-btn">
        <div class="form-group col-sm-2">
            <input @keyup.enter="query" class="form-control" placeholder="表名" type="text" v-model="q.tableName">
        </div>
        <a @click="query" class="btn btn-default">查询</a>
        <a @click="generator" class="btn btn-primary"><i class="fa fa-file-code-o"></i>&nbsp;生成代码</a>
    </div>
    <table id="jqGrid"></table>
    <div id="jqGridPager"></div>
</div>

<script src="js/generator.js"></script>
</body>
</html>